{
  "$schema": "https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json",
  "release-type": "simple",
  "include-component-in-tag": false,
  "packages": {
    ".": {
      "release-type": "simple",
      "bump-minor-pre-major": true,
      "changelog-sections": [
        {"type": "feat", "section": "✨ Features"},
        {"type": "fix", "section": "🐛 Bug Fixes"},
        {"type": "perf", "section": "🚀 Performance"},
        {"type": "refactor", "section": "♻️ Refactoring"},
        {"type": "deps", "section": "📦 Dependencies"},
        {"type": "docs", "section": "📚 Documentation"},
        {"type": "revert", "section": "↩️ Reverts"},
        {"type": "build", "section": "🛠 Build System", "hidden": true},
        {"type": "ci", "section": "⚙️ CI", "hidden": true},
        {"type": "test", "section": "🧪 Tests", "hidden": true},
        {"type": "chore", "section": "📦 Dependencies"},
        {"type": "style", "section": "🎨 Style", "hidden": true}
      ]
    }
  }
}
