{%- set renovate_preset_paths = {
  'default': 'presets/base',
  'python': 'presets/python/default',
  'javascript': 'presets/npm/default',
  'java': 'presets/gradle/default',
  'docker': 'presets/docker/default',
  'github-actions': 'presets/github-actions/default'
} -%}
{%- set renovate_extends = [] -%}
{%- for renovate_preset in renovate_presets -%}
{%- set _ = renovate_extends.append('github>' ~ renovate_config_repository ~ '//' ~ renovate_preset_paths[renovate_preset]) -%}
{%- endfor -%}
{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": {{ renovate_extends | to_json }}
}
