name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
{% for component in components %}
  {{ component.type }}-{{ loop.index }}:
    uses: quokkify/project-toolkit/.github/workflows/{{ component.type }}-ci.yml@{{ toolkit_version }}
    with:
      working-directory: {{ component.path | tojson }}
{% endfor %}
{% if docker %}
  docker:
    uses: quokkify/project-toolkit/.github/workflows/docker-build.yml@{{ toolkit_version }}
    with:
      push: false
{% endif %}
